{
  "printWidth": 80,
  "tabWidth": 2,
	"proseWrap": "always",
  "trailingComma": "all",
  "arrowParens": "avoid",
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}